body {
    background-color: lightcyan;    
}
/*maybe add blue border around page too*/

*
{margin: 0;
padding: 0;
}

/*give list and dropdown menu color to visually seperate/highlight area*/
nav{
    width: 100%;
    height:60%;
    background-color: darkkhaki;
    position: relative;
    display: block;
    padding: 8px 14px;
}

/*title of page color and center on page*/
h1{
    color: blue;
    position: center;
}

div {
    position: center;
}
/*give introduction page centered and more justified look 
add picture or video*/
.yellowCake {
    position: relative;
    right: 30px;
}

.bdayCake {
    position: relative;
    left: 50px;
}
    
.pinkCake {
    position: relative;
    top: 30px;
}
